<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>업로드 페이지</title>

    <!-- CSS 파일 첨부 / CSS 파일은 public 폴더 안에 저장하여 관리함  -->
    <link rel="stylesheet" href="/public/main.css">

  </head>

  <body>

    <!-- [ EJS 문법 ] (본 EJS 파일위치 기준으로 상대경로) nav.html을 첨부해 주세요 -->
    <%- include('nav.html') %>

    <!-- [ 부트스트랩 문법 ] class명으로 container 부여시 내용물을 가운데 정렬해줌-->
    <div class="container mt-4">

      <!-- [ 부트스트랩 문법 ] class명으로 text-center 부여시 글자 태그를 가운데 정렬해줌-->      
      <h4 class="text-center">업로드 페이지</h4>
      
      <!-- [ Javascript 문법 ] 서버로 폼 데이터 전송하는 방식 지정 - URL 인코딩(base64) 방식 전송시(용량 1.3배 증가됨)에는 enctype="application/x-www-form-urlencoded" -->
      <!-- [ Javascript 문법 ] 서버로 폼 데이터 전송하는 방식 지정 - 파일(이미지, 문서, 음성, 영상) 전송시에는 인코딩하지 말고 그대로 전송하는 enctype="multipart/form-data" -->
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <!-- [ Javascript 문법 ] type="file" 지정하여 이미지 파일 전송하는 input 태그로 설정  -->
        
        <!-- [ Multer 문법 ★★★ ] upload.ejs 의 input 태그에 multiple 속성을 표기하지 않은 <input type="file" name='multerInput'> 형태로 설정하면, server.js 의 multerUpload.single('multerInput') 코드를 통해 한 번에 1개의 파일(단일 파일)만 업로드 가능함 --> 
        <!-- <input type="file" name='multerInput'> -->
        
        <!-- [ Multer 문법 ★★★ ] upload.ejs 의 input 태그에 multiple 속성을 표기하여 <input type="file" name='multerInput' multiple> 형태로 설정하면, server.js 의 multerUpload.array('multerInput', 한꺼번에업로드허용할파일갯수) 코드를 통해 지정한 갯수만큼 파일을 한꺼번에 업로드 가능함 / 업로드 갯수 초과시 MulterError: Unexpected field 에러 발생함  -->
        <input type="file" name='multerInput' multiple>
        <p> (한꺼번에 최대 2개 파일, 파일당 3MB 이하 용량 업로드 가능)</p>
        <button type="submit">전송</button>
      </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    
    <!-- HTML에서 서버에 DELETE 요청 보내기 위해 JQuery 문법 기반으로 AJAX 요청 코드를 작성해야 함. JQuery Min 버전을 CDN으로 연동해야 하므로 부트스트랩 기본값인 JQuery Slim Min 연동 코드는 주석처리함  -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
   
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>